* {
  margin: 0;
  padding: 0;
}

div {     /* temporary styling */
  /* border: 1px solid white; */
}

html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

body {
  height: auto;
}

/* HEADER */
header {
  display: flex;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 69px;
  align-items: center;
  border-bottom: 1px solid seashell;
  z-index: 10;
}

.logo {
  flex-grow: 12;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

nav {
  flex-grow: 1;
}

nav ul {
  text-align: right;
  padding-right: 10px;
}

nav li {
  display: inline-block;
}

.padded_nav {
  padding-right: 32px;
}

nav a {
  color: seashell;
}


/* CONTENT */
.content {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  top: 69px;
}


/* JUMBOTRON */
.jumbotron {
  position: relative;
  text-align: center;
  width: 100%;
  height: 700px;
  margin: 0 auto;
}

.jumbotron img {
  height: 700px;
}

h2.banner {
  position: absolute;
  width: 100%;
  top: 302px;
  padding-top: 10px;
}

h4.banner {
  position: absolute;
  width: 100%;
  top: 350px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.banner {
  background-color: black;
}


/* FEATURED TEA */
.feattea {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}

.title {
  width: 100%;
  padding: 10px 0;
}

.special {
  margin: 15px 0;
}

.special img {
  width: 300px;
  height: 200px;
}

.special h4 {
  margin-top: 10px;
}

.myrtleAve {
  padding-left: 165px;
}

.bedfordTea {
  padding-right: 165px;
}


/* LOCATIONS */
.loc_container {
  width: 100%;
  margin-top: 100px;
}

.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  background-image: url(../images/blackCup.jpg);
  background-position: bottom;
}

.locations h2 {
  padding: 0;
  text-align: center;
  margin-bottom: 25px;
}

.teashops {
  display: flex;
}

.shop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  opacity: 1;
  width: 300px;
  text-align: center;
}

.shop div {
  padding: 25px 0;
}

.downtown,
.west {
  margin-right: 20px;
}

.natomas,
.west {
  margin-left: 20px;
}


/* FOOTER */
footer {
  width: 100%;
  text-align: center;
  height: 200px;
}

footer h2 {
  margin-top: 16px;
}

footer h5 {
  margin-top: 40px;
}

.copy {
  text-align: left;
  padding-left: 20px;
  margin: 15px 0;
}
